{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<div class="pagina-inicial">
    <main class="principal">
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}">
                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">“Cosmic Cliffs” in the Carina Nebula</p>
                            <p class="imagem__descricao">July 12th, 2022</p>
                            <p class="imagem__texto">What looks a lot like rugged mountains in a night
                                moonlit is actually the edge of a young, nearby star-forming region
                                NGC 3324 in the Carina Nebula. Captured in infrared light by Near-Infrared
                                Camera (NIRCam) on NASA's James Webb Space Telescope, this image reveals
                                previously obscured areas of star birth.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>
{% endblock %}